extends ./share/layout.jade
block body
  h3 Canvas 画布
  canvas#canvas_paintbrush_test(width='1200', height='600', style='width: 600px; height: 300px;')
    p 你的浏览器不支持canvas

  h3 Svg 画布
  svg#svg_paintbrush_test(style='width: 600px; height: 300px;')

  script(src='../script/EsShim.js')
  script(src='../script/CanvasPaintbrush.js')
  script(src='../script/SvgPaintbrush.js')
  script(src='../script/index.js')
