extends ./share/layout.jade
block body
  p index watched
  canvas#canvas_paintbrush_test(width='1200', height='600', style='width: 600px; height: 300px;')
    p 你的浏览器不支持canvas

  script(src='../script/EsShim.js')
  script(src='../script/CanvasPaintbrush.js')
  script(src='../script/index.js')
